body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex; 
}

.image-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 30px; 
}

.image-box img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 20px;
    margin-top: 20px;
}

.h3-group {
    border: 1px solid #ccc; 
    padding: 10px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

h3 {
    flex: 1 1 calc(50% - 20px); 
    color: #666;
    margin: 5px 0; 
}